name: vs-ponyc-latest

on:
  schedule:
    - cron: "0 3 * * *"

jobs:
  release-vs-ponyc-main:
    name: Verify in release mode on Linux with most recent ponyc
    runs-on: ubuntu-latest
    container:
      image: ponylang/shared-docker-ci-x86-64-unknown-linux-builder:latest
    steps:
      - uses: actions/checkout@v1
      - name: Test with the most recent ponyc
        run: make test config=release ci=true

  debug-vs-ponyc-main:
    name: Verify in debug mode on Linux with most recent ponyc
    runs-on: ubuntu-latest
    container:
      image: ponylang/shared-docker-ci-x86-64-unknown-linux-builder:latest
    steps:
      - uses: actions/checkout@v1
      - name: Test with the most recent ponyc
        run: make test config=debug ci=true
