name: vs-ponyc-latest

on:
  repository_dispatch:
    types: [shared-docker-linux-builders-updated]

jobs:
  release-vs-ponyc-main:
    name: Verify in release mode on Linux with most recent ponyc
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/ponylang/shared-docker-ci-standard-builder:nightly
    steps:
      - uses: actions/checkout@v1
      - name: Test with the most recent ponyc
        run: make test config=release ci=true

  debug-vs-ponyc-main:
    name: Verify in debug mode on Linux with most recent ponyc
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/ponylang/shared-docker-ci-standard-builder:nightly
    steps:
      - uses: actions/checkout@v1
      - name: Test with the most recent ponyc
        run: make test config=debug ci=true
