name: Manually generate documentation

on:
  workflow_dispatch

jobs:
  generate-documentation:
    name: Generate documentation for release
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: Generate documentation and upload
        uses: ponylang/library-documentation-action@0.1.5
        with:
          site_url: "https://seantallen-org.github.io/msgpack/"
          library_name: "msgpack"
          docs_build_dir: "build/msgpack-docs"
          git_user_name: "Sean T. Allen"
          git_user_email: "sean@seantallen.com"
        env:
          RELEASE_TOKEN: ${{ secrets.RELEASE_TOKEN }}
