name: Release

on:
  push:
    tags:
      - \d+.\d+.\d+

jobs:
  update-version-in-readme-examples:
    runs-on: ubuntu-latest
    name: Update version in README examples
    steps:
      - name: Update version in README examples
        uses: docker://ponylang/readme-version-updater-action:0.3.1
        with:
          git_user_name: "Sean T. Allen"
          git_user_email: "sean@seantallen.com"
        env:
          API_CREDENTIALS: ${{ secrets.GITHUB_TOKEN }}

  generate-documentation:
    name: Generate documentation for release
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: Generate documentation and upload
        uses: docker://ponylang/library-documentation-action:0.1.6
        with:
          library_name: "msgpack"
          docs_build_dir: "build/msgpack-docs"
          site_url: "https://seantallen-org.github.io/msgpack/"
          git_user_name: "Sean T. Allen"
          git_user_email: "sean@seantallen.com"
        env:
          RELEASE_TOKEN: ${{ secrets.RELEASE_TOKEN }}

  trigger-release-announcement:
    name: Trigger release announcement
    runs-on: ubuntu-latest
    needs:
      - update-version-in-readme-examples
      - generate-documentation
    steps:
      - uses: actions/checkout@v1
      - name: Trigger
        uses: docker://ponylang/release-bot-action:0.5.0
        with:
          step: trigger-release-announcement
          git_user_name: "Sean T. Allen"
          git_user_email: "sean@seantallen.com"
        env:
          RELEASE_TOKEN: ${{ secrets.RELEASE_TOKEN }}
